<div class="container">
	<h1>Home Page</h1>
	<p>
	    <a href="/#/add-video"><button type="button" class="btn btn-primary">Add a Video</button></a>
	</p>
	<div class="table-responsive">
		<table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Title</th>
					<th>Genre</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='video in videos'>
					<th>{{video.title}}</th>
					<th>{{video.genre}}</th>
					<th class="text-right">
						<a href="/#/video/{{video._id}}">
			            	<i class="glyphicon glyphicon-pencil"></i>
			     		</a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
			     		<a href="/#/video/delete/{{video._id}}">
				            <i class="glyphicon glyphicon-remove"></i>
				        </a>
			        </th>
			        
				</tr>
			</tbody>
		</table>
	</div> 
	
</div>

